# Remove DATABASE_URL entirely if you're hosting with docker compose.
DATABASE_URL=postgresql://host:password@localhost:5432/feedbase
BETTER_AUTH_URL=http://localhost:3000 # no trailing slash
BETTER_AUTH_SECRET=super-awesome-32-character-password # Change this (generate with openssl rand -base64 32)

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_WEBHOOK_URL=
DISCORD_GUILD_ID=
